body {
    background-color: black;
    user-select: none;
}

.display-game {
    position: absolute;
    width: 1000px;
    height: 600px;
    background-color: #fff;
    margin: auto;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
}

.game {
    width: 600px;
    height: 490px;
    background-color: rgb(255, 255, 64);
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
}
.turn {
    position: absolute;
    bottom: 0;
    margin: auto;
    right: 0;
    left: 0;
    background-image: url('../img/blue.png');
    background-size: contain;
    background-repeat: no-repeat;
    color: #fff;
    display: flex;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 100px;
} 
.honeys {
    display: flex;
}

.honey {
    width: 100px;
    height: 100px;
    margin: 1px;
    color: #fff;
}
p {
    z-index: 99;
    position: absolute;
    color: #fff;
    margin: auto;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    left: 148px;
    top: 230px;
}