body {
    background-color: black;
    user-select: none;
}

.display-game {
    position: absolute;
    width: 1000px;
    height: 600px;
    background-color: #fff;
    margin: auto;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
}

.game {
    width: 600px;
    height: 490px;
    background-color: rgb(255, 255, 64);
    position: absolute;
    margin: auto;
    top: 0;
    right: 15%;
    /* left: 0; */
}
.turn {
    position: absolute;
    bottom: 0;
    margin: auto;
    right: 40%;
    /* left: 0; */
    background-image: url('../img/blue.png');
    background-size: contain;
    background-repeat: no-repeat;
    color: #fff;
    display: flex;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 100px;
} 
.honeys {
    display: flex;
}
.cell {
    display: flex;
    width: 100px;
    height: 100px;
    position: relative;
    color: #fff;
}

.number {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}

.honey {
    width: 100px;
    height: 100px;
    margin: 1px;
}

.scores {
    background-color: rgb(190, 190, 190);
    height: 140px;
    width: 200px;
}
.player {
    color: #fff;
    margin-left: 10px;
    font-size: 30px;
    padding-top: 20px;
}
.bot {
    margin-left: 10px;
    color: #fff;
    font-size: 30px;
    padding-top: 20px;
}